
.Header{
display: flex;
background-color: black;
color: antiquewhite;
height: 13vh;
justify-content: center;
align-items: center;
}

h1{
  margin: 0%;
}

.sideNav{
  height: 100vh;
  width: 20vh;
display: inline-block;
/* transition:all .4s ease 0s */

}

.option{
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  cursor: pointer;
  border: 1px solid black;
}

.top{
  background-color: rgb(73, 73, 182);
  height: 15vh;
  text-align: right;
}

.navText{
  text-align: center;
}

.toggle{
  cursor: pointer;
}

.tabs{
  height: 81.5vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navTab{
  display: flex;
}

.expand{
    cursor: pointer;
    font-size: larger;
}